.cards{
    display: flex;
}
.card{
    background-color: purple;
    margin: 3%;
}
.card-title{
    color: white;
}
.card-text{
    color: white;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #252525;
}

h1{
    display: flex;
    color: white;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}