td, th{
    border: solid black 1px;
    text-align: center;
    background-color: #ec82ec;
    font-family: 'Franklin Gothic Minimun', 'Arial Narrow', Arial, sans-serif;
}
table{
    border-collapse: collapse;
    width: 50%;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #c3a1ff;
}

h1{
    display: flex;
    color: black;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}