.cards{
    display: flex;
}
.card{
    background-color: purple;
    margin: 3%;
}
.card-body{
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.card-body a{
    width: 5rem;
    align-self: center;
}
.card-title{
    color: white;
}
.card-text{
    color: white;
    margin: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #252525;
}

h1{
    display: flex;
    color: white;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}